ul.side-nav
  = nav_link image_tag("icons/sidebar-home.png") + "<span>Home</span>".html_safe, customer_home_path
  = nav_link image_tag("icons/sidebar-contracts.png") + "<span>Lease Agreements</span>".html_safe, customer_lease_agreements_path
  = nav_link image_tag("icons/sidebar-applications.png") + "<span>Applications</span>".html_safe, customer_applications_path
